{% extends 'base.html' %}
{% load static %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add borrowers</title>
</head>
<body>
    
    <div>
        <h1 style="text-align: center;">Fill in the form below to add a Book Borrower</h1>
    </div>
    <div>
        <form action="{% url 'addborrowers' %}" method="POST" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group">
                  <input type="text" name="names" class="form-control" id="name" placeholder="your names" required="">
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="regNo" id="email" placeholder="Reg No" required="">
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <input type="number" class="form-control" name="phoneNumber" id="phone" placeholder="phone number" required="">
                </div>
                <div class="col-md-4 form-group mt-3" hidden>

                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="levels"  class="form-select" required>
                      <option value="">Select Level</option>
                      <option value="First Year">First Year</option>
                      <option value="Second Year">Second Year</option>
                      <option value="Third Year">Third Year</option>
                      <option value="Fourth Year">Fourth Year</option>
                      <option value="Diploma">Diploma</option>
                      <option value="Postgraduate">Postgraduate</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group mt-3">
                    <input type="text" class="form-control" name="bkBorrowed" id="address" placeholder="Book Borrowed" required="">
                  </div>
                  <div class="col-md-4 form-group mt-3">
                    <input type="datetime-local" class="form-control datepicker" name="dueDate" id="date" placeholder="Due Date" required="">
                  </div>
                  
                

                  <div class="text-center mt-4" >
                    <button type="submit">Add Borrower</button>
                  </div>

              </div>



        </form>
    </div>
</body>
</html>

{% endblock %}