{% extends 'base.html' %}
{% load static %}

{% block body %}
    <p></p>
    <p></p>
    <div style="text-align: center;">
        <h2>Book Borrowed Successfully!</h2>
        <p>An email confirmation has been sent to your email address.</p>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            confetti({
                particleCount: 7000,
                spread: 900,  
                origin: { y: 0 },  // Center the origin
                angle : 90,
                gravity:1.2,
            });
        });
    </script>
{% endblock %}
