{% extends 'base.html' %}
{% load static %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>borrowers</title>
</head>
<body>
    <div>
        <div>
            <h1 style="text-align: center;">Borrowers</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="GET">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Search Borrower by Name " name="query" value="{{ query }}">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="mt-4">
            {% if results %}
                <h4>Search Results:</h4>


                {% if brws %}
                <ul>
                    {% for borrower in results %}
                        <li>{{ borrower.names }} </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>no matches found for "{{ query }}"</p>
                {% endif %}


            {% else %}
            <h4>all Borrowers</h4>


            <ul>
                {% for borrower in brws %}
                    <li>{{ borrower.names }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
        </div>


        <div>
            <table class="table table-striped" border="1" style="width: 100%;" >
                <tr>
                <th>Name</th>
                <th>Reg Number</th>
                <th>level</th>
                <th>Phone Number</th>
                <th>Date Added</th>
                <th>Book Borrowed</th>
                <th>Due Date</th>
                <th>Action</th>
                </tr>
                {% for x in brws %}
                <tr>
                <td>{{ x.names }}</td>
                <td>{{ x.regNo }}</td>
                <td>{{ x.levels }}</td>
                <td>{{ x.phoneNumber }}</td>
                <td>{{ x.dateJoined }}</td>
                <td>{{ x.bkBorrowed }}</td>
                <td>{{ x.dueDate }}</td>
                <td>
                    <a href="{% url 'editborrower' x.id %}" class="btn btn-warning" >EDIT</a>
                    <a href="{% url 'deleteborrower' x.id %}" class="btn btn-danger" >DELETE</a>
                </td>
                </tr>
                {% endfor %}

                
            </table>
        </div>
    </div>
</body>
</html>

{% endblock  %}