{% extends 'base.html' %}

{% load static  %}

{% block body  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
</head>
<body>

    <div>
        <div >
            <h2 style="text-align: center;" >VIEW ALL MEMBERS</h2>
            <p></p>
          </div>

          
          <div class="row">
            <div class="col-md-6">
                <form method="GET">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Search Member by Name " name="query" value="{{ query }}">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="mt-4">
            {% if results %}
                <h4>Search Results:</h4>


                {% if mems %}
                <ul>
                    {% for mem in results %}
                        <li>{{ mem.names }} </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>no matches found for "{{ query }}"</p>
                {% endif %}


            {% else %}
            <h4>all members</h4>


            <ul>
                {% for mem in mems %}
                    <li>{{ mem.names }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
        </div>

          <div>
            <table class="table table-striped" border="1" style="width: 100%;">
                <tr>
                    <th>Name</th>
                    <th>REG Number</th>
                    <th>Level</th>
                    <th>Phone Number</th>
                    <th>Date Joined</th>
                    <th>Actions</th>
                </tr>
                {% for x in mems %}
                <tr>
                    <td>{{x.names}}</td>
                    <td>{{x.regNo}}</td>
                    <td>{{x.levels}}</td>
                    <td>{{x.phoneNumber}}</td>
                    <td>{{x.dateJoined}}</td>
                    <td>
                        <a href="{% url 'editmembers' x.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'deletemembers' x.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
          </div>
    </div>
    
</body>
</html>

{% endblock  %}