{% extends 'base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <style>
        
    </style>

</head>
<body>
    <p></p>
    <p></p>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 78vh;">
        <div class="card text-bg-secondary mb-3" style="max-width: 28rem;">
            <div class="card-header">
                Payment of an overdue or lost book
            </div>
            <div class="card-body">
                <h2>Make a Payment</h2>
    
                <form method="post" action="{% url 'stk' %}">
                    {% csrf_token %}
                    <label for="phone">Phone Number :</label>
                    <input type="number" id="phone" name="phone" value="254" placeholder="Phone Number">
                    <br><br>
    
                    <label for="amount">Amount :</label>
                    <input type="text" id="amount" name="amount" placeholder="Amount">
                    <br><br>
                    <button  type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}